[Unit]
Description=Run Cowrie Processor Enrichment Cache Cleanup Daily
Requires=enrichment-cleanup.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
